{% load static %}
{% load inlinecss %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">


</head>

<body style="color: black; background: #eaeaea; font-weight: bolder; border-radius: 10px" >
<div style="padding-left: 10px;  padding-right: 10px; padding-top: 10px;" class="lots-o-padding">
 <h5>Message - {{ message }}</h5>
</div>
<div style="padding-left: 10px;  padding-right: 10px; padding-top: 10px;" class="lots-o-padding">
 <h5>Name - {{ name }}</h5>
</div>
<div style="padding-left: 10px;  padding-right: 10px; padding-top: 10px;" class="lots-o-padding">
 <h5>Company Name - {{ companyName }}</h5>
</div>
<div style="padding-left: 10px;  padding-right: 10px; padding-top: 10px;" class="lots-o-padding">
 <h5>Email Address - {{ emailAddress }}</h5>
</div>
<div style="padding-left: 10px;  padding-right: 10px; padding-top: 10px;" class="lots-o-padding">
 <h5>Phone Number - {{ phoneNumber }}</h5>
</div>
</body>
</html>