
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: white;
}


.header{
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: white;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow:  0 2px 5px rgba(0, 0, 0, .2);
}

.logo{
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    color: black;
    
}
.header a.logo:hover,
.header a.logo{
    text-decoration: none;
    color: black;
}
nav ul {
    float: left;

}
.clearfix
{
    clear: both;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    color: #262626;
}
nav ul li a.active,
nav ul li a:hover{
    background: #f1105b;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    transition: 0.5s;

}

@media (max-width:1200px){
    .header{
        margin: 20px;
    }
}

@media (max-width:900px){
    .menu_toogle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
    }
    .menu_toogle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu_toogle.active:before{
        content: '\f00d';
    }
    nav{
        display: none;
    }
    nav.active{
        display: block;
    }
    nav.active ul{
        display: block;
        width: 100%;
    }

    nav.active ul li a{
        margin: 0;

    }
}
