.button{
    width: 100%;
    background-color: #824fc4;
    border-radius: 5px;
    border: none;
    padding: 9px;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight: 500;
  }

.line{
  display: flex;
  margin: 10px;
  
}
.form{
  margin: 10px;
}

.main{
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
}